@import url(./__carousel.scss);

.carousel-item {
  height: 32rem;
  // background: #777;
  background-size: cover;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  // background-repeat: no-repeat;
  // object-fit: cover;
}

.toggle-div {
  background-color: slategray;
  height: 3em;
  width: 100vw;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 700px) {
    .outline-text {
      display: none;
    }
  }
}

.watchOutline,
.faveOutline {
  display: flex;
  padding: 0 25px;
  font-size: 35px;
  /* margin: 0 5em; */
}

.watchOutline:hover,
.faveOutline:hover {
  background-color: royalblue;
  cursor: pointer;
}

.page-image-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anime-page {
}

.page-title {
  margin: 0 auto;
}

/* .page-content {
  display: flex;
} */

.page-details {
  font-size: 1.3em;
  margin: 0 auto;
  width: 70%;
  // height: 70%;

  h1 {
    // margin: 3em;
  }
  div {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    // display: flex;
    // flex-direction: column;
    color: #fff;
    gap: 0.8em;
    margin-top: 4.5em;
    padding: 0;
  }

  .detail-name {
    // float: left;
  }

  .detail-response {
    // float: right;
    font-weight: bold;
    // margin-inline-start: 10%;
  }
}

.page-synopsis {
  span {
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  padding: 1em;
  margin: 0 auto;
  height: 80%;
  overflow-y: auto;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  width: Min(70%, 60ch);

  &::-webkit-scrollbar {
    /* outline: 2px solid rgb(0, 26, 255); */
    border-radius: 10px;
    width: 5px;
    height: 5px;
  }

  /* changes the track of the scroll */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: slategray;
    // -webkit-box-shadow: 0 0 6px rgb(0, 0, 0);
  }

  /* changes the draggable scrolling element */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #eb9657;
    -webkit-box-shadow: 0 0 6px rgb(0, 0, 0);
  }
}

// .page-synopsis {
//   p {
//     margin: auto;
//     width: Min(40vw, 80ch);
//   }
//   max-height: max-content;
//   // margin: 0 25vw;
//   width: 50vw;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
//   height: Min(50vh, 300px);
//   overflow-y: auto;

//   color: #acb498;
//   border: 2px solid burlywood;
//   border-radius: 0.5em;
//   padding: 1rem;

//   &::-webkit-scrollbar {
//     /* outline: 2px solid rgb(0, 26, 255); */
//     border-radius: 10px;
//     width: 5px;
//     height: 5px;
//   }

//   /* changes the track of the scroll */
//   &::-webkit-scrollbar-track {
//     border-radius: 10px;
//     background-color: slategray;
//     // -webkit-box-shadow: 0 0 6px rgb(0, 0, 0);
//   }

//   /* changes the draggable scrolling element */
//   &::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     background-color: #eb9657;
//     -webkit-box-shadow: 0 0 6px rgb(0, 0, 0);
//   }
// }

// .page-synopsis span {
//   font-size: 35px;
//   font-weight: bold;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }

.anime-page {
  .page-image {
    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: top;
    }
  }

  .page-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    justify-content: center;
    margin: 0 1rem;
  }

  .page-trailer {
    margin-top: 2rem;
    iframe {
      aspect-ratio: 16 / 9;
      // height: 30vh;
      width: Min(70vw, 800px);
    }
  }
}
