.recommendations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .recomend-page {
    margin-block: 1rem;

    img {
      transition: transform 1000ms ease-in-out;
      border-radius: 0.5rem;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}

.pictures {
//   height: Min(100vh, 2000px);
  height: 60vh;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;

  .slide-track {
    display: flex;
    height: 50vh;
    width: 3em * 50;
    font-size: 25vh *2/3;
    animation: scroll 30s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  .slide {
    width: 3em;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      object-fit: cover;

      transition: transform 1s;
      &:hover {
        transform: translateZ(.03em);
        cursor: pointer;
      }
    }
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    width: 3rem;
    height: 100%;
    content: "";
    z-index: 1;
  }

  &:before {
    left: 0;
    background: var(
      --beforeBack,
      linear-gradient(to right, #0e2752 0%, transparent 100%)
    );
    // background: linear-gradient(to right, #9E47F5 0%, transparent 100%);
  }

  &:after {
    right: 0;
    background: var(
      --afterBack,
      linear-gradient(to left, #0e2752 0%, transparent 100%)
    );
    // background: linear-gradient(to left, #9E47F5 0%, transparent 100%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3em * 10);
  }
}

.videos div {
  margin-top: 2rem;
  iframe {
    aspect-ratio: 16 / 9;
    // height: 30vh;
    width: Min(70vw, 800px);
  }
}


.episode-page{
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    align-items: flex-start;
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rosybrown;
        height: 400px;
        padding: .5em;
        width: 300px;
        box-shadow: 3px 3px 4px 1px #4caf50;

        h2 {
            margin-block: 20px;
            // float: left;
        }

        .filler, .recap {
            font-size: 1.3em;
            display: flex;
            // float: left;
        }

        .episode-link{
            margin-top: 10px;
            width: max-content;
            .episode-btn{
                 --color: hsl(500, 30%, 50%);
                background: var(--color);
                color: white;
                border: none;
                height: 37px;
                font-size: 1rem;
                padding: 0.5em 0.75em;
                border-radius: 0.25em;
                cursor: pointer;
    
                &:hover {
                background: hsl(500, 30%, 60%);
                // border-radius: 2em;
                }
            }
        }
    }
}