#App-logo {
  height: 450px;
  width: 450px;
  display: flex;
  justify-items: center;
  margin: auto;
  /* display: flex; */
}

#logo-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
}

.function-buttons {
  display: flex;
  margin: 50px auto;
}

.function-buttons button {
  margin: 0 15px;
  padding: 0 20px;
  border-radius: 50%;
}

.function-buttons button:hover {
  background-color: royalblue;
  cursor: pointer;
}

/* name for key frames can be named anything */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
